

h2 {
    margin: 0px 0px 20px;
    padding: 0px 0px 10px;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 1px dotted #AAA;
}

.heading {
    margin: 0px 0px 20px;
    padding: 0px 0px 10px;
    font-size: 24px;
    line-height: 24px;
    border-bottom: 1px dotted #AAA;

}

.myname {
    font-size: 80px;
    font-family: 'Lobster', cursive;

}

.nametitle {
    padding-top: 60px;
}
.hero {
    padding: 75px 0px;
    overflow: hidden;
    background: url(https://s3.amazonaws.com/cavintstone/img/bg-img.jpg) repeat scroll center top transparent;
	margin-top: 50px;
    min-height: 570px;
}

.content {
    padding: 15px 0px;
    margin: 65px 0 75px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

#footer a {
    text-decoration:none;
    color: #333333;
}

.navbar-brand {
    /*font-family: 'Prosto One', cursive;*/
    font-family: 'Lobster', cursive;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
