<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cavin T. Stone :: Ruby on Rails/Front-End Web Developer</title>
 <%= render 'layouts/structure/meta-scripts' %>
</head>

<body>

<%= render 'layouts/structure/nav' %>

<!-- Begin page content -->
<section id="hero" class="hero">

  <div class="container">

    <div class="col-md-6 text-center nametitle">
      <div>
        <p class="myname">Cavin T. Stone</p>
        <p class="lead">Ruby on Rails/Front-End Web Developer</p>
      </div>
    </div>

    <div class="col-md-6">

      <p class="lead">Phasellus a nibh condimentum, sollicitudin lorem sed, vehicula libero. Pellentesque iaculis tortor nisl, et placerat odio auctor vel. Ut consequat arcu et aliquet dapibus. Cras varius arcu sed mauris dapibus hendrerit. Proin fermentum neque non nulla tristique, eget semper ligula ornare. Quisque porta posuere luctus. Ut sed augue scelerisque, aliquet ligula ut, commodo dolor. Quisque nec pretium libero.</p>
      <p class="lead">Phasellus a nibh condimentum, sollicitudin lorem sed, vehicula libero. Pellentesque iaculis tortor nisl, et placerat odio auctor vel. Ut consequat arcu et aliquet dapibus. Cras varius arcu sed mauris dapibus hendrerit.</p>
    </div>



  </div><!-- .container -->

</section>



<%= render 'layouts/structure/footer' %>




<%= render 'layouts/structure/footer-scripts' %>
</body>
</html>
